body {
    font-family: Arial, sans-serif;
}

.logo{
    height: 50px;
    border-radius: 50%;
}
.navbar-brand{
    color: white !important;
}

#gallery .card {
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
}

#gallery .card:hover {
    transform: scale(1.05);
}

#gallery .card img {
    transition: transform 0.3s ease;
}

#gallery .card:hover img {
    transform: scale(1.1);
}

#gallery .card .card-body {
    background: rgba(0, 0, 0, 0.7);
    bottom: 0;
    color: white;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100%;
    transition: all 0.3s ease;
}

#gallery .card:hover .card-body {
    opacity: 1;
    top: 70%;
}
